<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <center><h2>Invoice</h2></center>

    <p>hey Dhananjay</p>
    <p>This is the receipt for a payment of $312.00 (USD) you made to Spacial Themes.</p>

    <table>
        <th>
            <td>Payment No.</td>
            <td>Payment Date</td>
        </th>
        <tr>
                <td>3</td>
                <td>12/3</td>
        </tr>
    </table>

    

</body>
</html>